<template name="bugView">
  {{#if logged_in}}
  <a class="edit-bug-link" href="/bugs/{{_id.toHexString}}/edit">Edit Bug</a>
  {{/if}}
  <h3 class="bug-title">{{title}}</h3>
  <div class="bug-description">
    {{#markdown}}{{description}}{{/markdown}}
  </div>
  <div class="bug-view-story">
    <label class="bug-view-label">Story</label> {{story_number}}
  </div>
  <div>
    <label class="bug-view-label">Branch</label>
    <a class="bug-view-branch-link" href="{{branch}}">{{branch}}</a>
  </div>
  <div class="bug-view-difficulty">
    <label class="bug-view-label">Difficulty</label> {{difficulty}}
  </div>
  <p></p>
  <div>
    {{#each tags}}
    <button class="tag" onclick="window.location = '/search/{{this}}'">{{this}}</button>
    {{/each}}
  </div>
  <div>
    <button class="solution-button btn btn-default" id="toggle-solution">Show Solution</button>
    <div id="solution" style="display: none;">
      {{#markdown}}{{solution}}
      {{/markdown}}
    </div>
  </div>
</template>
